body, html
	font-family: 'Asap', sans-serif

a
	text-decoration: none
	color: black

h2
	max-width: 321px
	opacity: 0.8
	color: #4d4d4d
	font-size: 46px
	font-weight: 700
	line-height: 49px
	text-transform: uppercase
	letter-spacing: 5.52px
	margin-top: 0
	margin-bottom: 0

.wrap
	max-width: 1170px
	margin: 0 auto

.page-header
	background-image: url(../img/header-bg.png)
	background-repeat: no-repeat
	background-size: cover
	padding-top: 31px
	padding-bottom: 10px
	.wrap
		.nav
			display: flex
			justify-content: space-between
			align-items: flex-start
			margin-bottom: 11px
			ul
				li
					display: inline-block
					margin-left: 35px
					a
						color: #4d4d4d
						font-size: 16px
						font-weight: 400
						text-transform: uppercase
						display: block
						&:hover
							text-transform: capitalize
							padding-bottom: 7px
							border-bottom: 2px solid black
							cursor: pointer
		.main-header
			display: flex
			justify-content: space-between
			align-items: center
			.header-text
				align-self: flex-start
				h1
					max-width: 548px
					color: #4d4d4d
					font-size: 90px
					font-weight: 500
					margin-top: 145px
					margin-bottom: 0
					span
						display: block
						opacity: 0.54
						color: #4d4d4d
						font-size: 22px
						font-weight: 500
						margin-bottom: 28px
						padding-left: 5px
				div
					.btn-km
						width: 160px
						height: 50px
						border: 1px solid #4d4d4d
						box-sizing: border-box
						color: #4d4d4d
						font-size: 16px
						font-weight: 500
						text-transform: uppercase
						letter-spacing: 0.96px
						outline: none
						margin-right: 19px
						transition: 0.5s
						&:hover
							box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
							background-color: #ffffff
							border: none
							cursor: pointer
					.btn-hm
						width: 160px
						height: 50px
						border: 1px solid #4d4d4d
						box-sizing: border-box
						color: #4d4d4d
						font-size: 16px
						font-weight: 500
						text-transform: uppercase
						letter-spacing: 0.96px
						outline: none
						transition: 0.5s
						&:hover
							box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
							background-color: #ffffff
							border: none
							cursor: pointer

.page-about
	padding-top: 109px
	padding-bottom: 124px
	.wrap
		display: flex
		justify-content: space-between
		align-items: center
		.about-text
			flex-basis: 43.7%
			h2
				position: relative
				margin-top: 37px
				margin-bottom: 0
				&::before
					content: ''
					display: block
					width: 60px
					height: 4px
					background-color: #212121
					opacity: 0.6
					position: absolute
					top: -15px
					left: 3px
			p
				color: #4d4d4d
				font-size: 16px
				font-weight: 400
				line-height: 26px
				margin-top: 0
				margin-bottom: 36px
			button
				width: 245px
				height: 50px
				border: 1px solid #4d4d4d
				color: #4d4d4d
				font-size: 16px
				font-weight: 500
				text-transform: uppercase
				letter-spacing: 0.96px
				background-color: #fff
				cursor: pointer
				outline: none
				transition: 0.3s
				&:hover
					color: #ffffff
					background-color: #4d4d4d
					box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)

.page-services
	background-color: #f6f6f6
	padding-top: 135px
	padding-bottom: 72px
	.wrap
		h2
			margin: 0 auto
			position: relative
			text-align: center
			margin-bottom: 53px
			&::before
				content: ''
				display: block
				width: 60px
				height: 4px
				background-color: #212121
				opacity: 0.6
				position: absolute
				top: -16px
				left: 131px
		.flex-services
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			.flex-services-item
				flex-basis: 31%
				margin: 0 auto
				text-align: center
				margin-bottom: 45px
				p
					color: #4d4d4d
					font-size: 24px
					font-weight: 500
					margin-top: 14px
				.p-edit
					max-width: 157px
					text-align: center
					margin: 0 auto

.page-skills
	padding-top: 133px
	padding-bottom: 125px
	.wrap
		h2
			text-align: center
			margin: 0 auto
			position: relative
			margin-bottom: 47px
			&::before
				content: ''
				display: block
				width: 60px
				height: 4px
				background-color: #212121
				opacity: 0.6
				position: absolute
				top: -16px
				left: 131px
		img
			display: block
			margin: 0 auto
				
.page-portfolio
	background-color: #f6f6f6
	padding-top: 142px
	padding-bottom: 123px
	.wrap
		h2
			text-align: center
			margin: 0 auto
			position: relative
			margin-bottom: 37px
			&::before
				content: ''
				display: block
				width: 60px
				height: 4px
				background-color: #212121
				opacity: 0.6
				position: absolute
				top: -16px
				left: 131px
		.flex-portfolio
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			img
				display: block
				margin-bottom: 30px
				transition: 0.3s
				&:hover
					box-shadow: 0 18px 27px 11px rgba(0, 0, 0, 0.2)
		.btn-lm
			width: 190px
			height: 50px
			color: #4d4d4d
			font-size: 16px
			font-weight: 500
			text-transform: uppercase
			letter-spacing: 0.96px
			outline: none
			display: block
			box-sizing: border-box
			margin: 0 auto
			text-align: center
			background-color: #f6f6f6
			border: 1px solid #4d4d4d
			transition: 0.3s
			cursor: pointer
			&:hover
				box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
				background-color: #ffffff
				border: none

.page-testimotionals
	padding-top: 140px
	padding-bottom: 114px
	.wrap
		h2
			text-align: center
			margin: 0 auto
			position: relative
			margin-bottom: 57px
			&::before
				content: ''
				display: block
				width: 60px
				height: 4px
				background-color: #212121
				opacity: 0.6
				position: absolute
				top: -16px
				left: 153px
		.main-block
			width: 955px
			height: 349px
			border: 1px solid #212121
			margin: 0 auto
			box-sizing: border-box
			padding: 60px 75px 56px 109px
			h3
				display: block
				max-width: 172px
				opacity: 0.9
				color: #212121
				font-size: 30px
				font-weight: 500
				text-transform: uppercase
				margin-bottom: 0
				margin-top: 14px
				span
					display: block
					opacity: 0.9
					color: #212121
					font-size: 12px
					font-style: italic
					text-transform: uppercase
					margin-top: 3px
			p
				opacity: 0.6
				color: #212121
				font-size: 16px
				font-weight: 400
				line-height: 26px
				text-transform: uppercase
				margin-top: 12px
			.flex-test
				display: flex
				justify-content: space-between
				align-items: center
				&-text
					flex-basis: 74%
					margin-top: 4px
			.btn-group
				text-align: center
				margin-top: 32px
				button
					width: 13px
					height: 13px
					border: 1px solid #212121
					background-color: #fff
					cursor: pointer
					outline: none
					&:nth-child(2)
						background-color: #000

.page-stat
	background-color: #f6f6f6
	padding-top: 52px
	padding-bottom: 38px
	.wrap
		display: flex
		justify-content: space-between
		align-items: center
		text-align: center
		.flex-stat-item
			flex-basis: 23%
			h3
				opacity: 0.9
				color: #212121
				font-family: Asap
				font-size: 22px
				font-weight: 400
				line-height: 32px
				text-transform: uppercase
				span
					display: block
					font-size: 30px
					font-weight: 500	

.page-footer
	margin-top: 154px
	padding-top: 160px
	padding-bottom: 30px
	background-image: url(../img/page-footer-bg.png)
	background-repeat: no-repeat
	background-size: cover			
	.wrap
		h2
			color: #ffffff
			text-align: center
			margin: 0 auto		
			position: relative
			margin-bottom: 62px
			&::before
				content: ''
				display: block
				width: 60px
				height: 4px
				background-color: #fff
				opacity: 0.6
				position: absolute
				top: -15px
				left: 127px
		form
			display: flex
			margin: 0 auto
			margin-bottom: 58px
			justify-content: space-between
			flex-wrap: wrap
			max-width: 769px
			input
				margin-bottom: 28px
				flex-basis: 47.7%
				display: inline-block
				height: 57px
				box-sizing: border-box
				padding-left: 9px
				color: #212121
				font-size: 16px
				font-weight: 500
				letter-spacing: 0.96px
			textarea
				resize: none
				width: 769px
				height: 183px
				padding-top: 22px
				padding-left: 9px
				color: #212121
				font-size: 16px
				font-weight: 500
				letter-spacing: 0.96px
				margin-bottom: 30px
			button
				color: #4d4d4d
				font-size: 16px
				font-weight: 500
				text-transform: uppercase
				letter-spacing: 0.96px
				width: 123px
				height: 50px
				box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)
				background-color: #ffffff
				margin: 0 auto
				outline: none
				border: none
				cursor: pointer
				transition: 0.3s
				border: 2px solid white
				&:hover
					background: none
					color: #fff
	hr
		height: 1px
		background-color: #fff
		margin-bottom: 13px
	.flex-social
		display: flex
		align-items: center
		justify-content: space-between
		max-width: 689px
		margin-left: 0 !important
		p
		text-align: center
		margin: 0 auto
		color: #ffffff
		font-family: Montserrat
		font-size: 16px
		font-weight: 400
		letter-spacing: 0.96px
		flex-grow: 1
		.socials
			a
				display: inline-block
				width: 27px
				height: 27px
				background-color: #ffffff
				margin: 0 auto
				padding-top: 6px
				box-sizing: border-box
				margin-right: 4px
				color: #4d4d4d
				font-size: 16px
				font-weight: 400
				letter-spacing: 0.96px
				transition: 0.3s 
				&:nth-child(1):hover
					background-color: #3b5998
					color: #fff
				&:nth-child(2):hover
					background-color: #0084b4
					color: #fff
				&:nth-child(3):hover
					background-color: #2867B2
					color: #fff
				&:nth-child(4):hover
					background-color: #db4a39
					color: #fff
				&:nth-child(5):hover
					background-color: #1769ff
					color: #fff
				&:nth-child(6):hover
					background-color: #ea4c89
					color: #fff